$borderColor:black;

.loginForm{
    border: 2px solid $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    width:40%;
    height:120%;
    background-color:lightseagreen;
    font-weight: bold;

}
.Logintitle{
    font-variant: small-caps;
    font-style: italic;
    
    
}