$bckColor:blue;

.main-view{
    background-color: $bckColor;
}
.navigateBar{
    border-radius: 5px;
    padding:15px;
    margin-bottom: 25px;
    border: 2px outset lightgoldenrodyellow;
}
.appTitle{
    text-align: right;
    color: whitesmoke;
    margin: auto;
    font-variant: small-caps;
    text-shadow: 2px 2px black;
    border:2px outset cornsilk;
    padding: 5px;
    border-radius:5px
    }