$bckColor:blue;

.main-view{
    background-color: $bckColor;
}
.navigateBar{
    border-radius: 5px;
    padding:15px;
    margin-bottom: 25px;
    border: 2px outset darkslategray;
   
   
}
.appTitle{
    text-align: right;
    color:whitesmoke;
    margin: auto;
    font-variant: small-caps;
    background-color: black;
    border:2px outset slategray;
    padding: 5px;
    border-radius:5px;
    }