$borderColor:black;

.profileview{
    border: 2px solid $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    width:120%;
    height:120%;
    background-color:lightgrey;
    font-variant: small-caps;
    font-weight: bold;
    margin:auto;

}
.profileedit{
    border: 2px solid $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    width:60%;
    height:120%;
    background-color:rgb(88, 114, 122);
    color: whitesmoke;
    margin:auto;
    font-variant: small-caps;
    font-weight: bold;
}