$borderColor:black;

.profileview{
    border: 2px solid $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    width:120%;
    height:120%;
    background-color:lightgrey;
    font-variant: small-caps;
    font-weight: bold;
    margin:auto;

}
.profileedit{
    border: 2px solid $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    width:60%;
    height:120%;
    background-color:rgb(88, 114, 122);
    color: whitesmoke;
    margin:auto;
    font-variant: small-caps;
    font-weight: bold;
}
.navigateBar{
    border-radius: 5px;
    padding:15px;
    margin-bottom: 25px;
    border: 2px outset darkslategray;
   
   
}
.appTitle{
    text-align: right;
    color:whitesmoke;
    margin: auto;
    font-variant: small-caps;
    background-color: black;
    border:2px outset slategray;
    padding: 5px;
    border-radius:5px;
    }

