$borderColor:black;

.registrationForm{
    border: 2px solid $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    width:60%;
    height:120%;
    background-color:lightslategrey;
    font-weight: bold;

}